<div class="top-navigation-menu">
    <ul class="nav">
        <li class="nav-item">
            <span class="material-symbols-outlined nav_icon">dashboard</span>
            <a class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
            <span class="material-symbols-outlined nav_icon">lab_profile</span>
            <a class="nav-link" (click)="goToAbout()">About</a>
        </li>
        <li class="nav-item logout_item">
            <span class="material-symbols-outlined nav_icon">logout</span>
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>
    </ul>
</div>