.container-fluid {
    display: grid;
    grid-template-rows: auto 1fr; // Top row for navigation, second row for main content
    padding-inline: 0;
    height: 100vh; // Full viewport height
}

.main_view {
    display: grid;
    grid-template-columns: 1fr; // Only one column for the main view
    gap: 1rem; // Optional gap between the rows
}

.top_nav {
    grid-row: 1 / 2; // Position the top nav in the first row
}

.main_panel {
    grid-row: 2 / 3; // Position the main panel content in the second row
}