<!-- <div class="navigation-menu">
    <div class="menu_links">
        <ul class="nav flex-column">
            <li class="nav-item">
              <span class="material-symbols-outlined nav_icon">dashboard</span>
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <span class="material-symbols-outlined nav_icon">book_2</span>
              <a class="nav-link" href="#">Manage Books</a>
            </li>
            <li class="nav-item">
              <span class="material-symbols-outlined nav_icon">group</span>
              <a class="nav-link" href="#">Manage Students</a>
            </li>
            <li class="nav-item">
              <span class="material-symbols-outlined nav_icon">book</span>
              <a class="nav-link" href="#">Issue Book</a>
            </li>
            <li class="nav-item">
              <span class="material-symbols-outlined nav_icon">lab_profile</span>
              <a class="nav-link" href="#">View Records</a>
            </li>
            <li class="nav-item logout_item">
              <span class="material-symbols-outlined nav_icon">logout</span>
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
    </div>
</div> -->


 